logs/*
npm-debug.log
yarn-error.log
node_modules/
coverage/
dist/*
dist_*
.idea/
run/
.DS_Store
*.sw*
*.un~
.tsbuildinfo
.tsbuildinfo.*
.nx/
.env.local
public/html/
uploadFile/*/**
!uploadFile/index/.gitkeep
!uploadFile/admin/.gitkeep
!uploadFile/tmp/.gitkeep
.env.production
.env.prod
.eslintcache
tsconfig.tsbuildinfo
tsconfig.node.tsbuildinfo
!uploadFile/admin/3832e40249f4eb6c4feca1c257718907.png
!uploadFile/admin/b51e6a53459859d203041f8c0dffcd92.png
!uploadFile/admin/c99e23ad65db6db5bea03d828fb6166e.png
!uploadFile/admin/dac00cfc094a2b9acefeb67be311e1f5.png
!uploadFile/admin/e27aae898e9bd0f8f1706246c1e6f372.png
!uploadFile/index/c99e23ad65db6db5bea03d828fb6166e.png
!uploadFile/index/dac00cfc094a2b9acefeb67be311e1f5.png